@model IEnumerable<OnlineVideoCourseWebsite.Models.ViewModels.UserViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Thumbnail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.UserName)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.User.Email)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.User.EmailConfirmed)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.User.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.User.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Description)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.User.Id">
						<img src="@item.User.Thumbnail" height="100" width="100" alt="avatar" />
					</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.User.Email)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.User.EmailConfirmed)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.User.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Role)
				</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.User.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.User.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
